/*general CSS*/
  h1 {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-bottom: 10px;
  }
  
  h2 {
    font-family: "Micro 5", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 50px;
    padding-bottom: 20px;
  }
  
  h3 {
    font-family:'Courier New', Courier, monospace;
    font-size: 14px;
  }

  header {
    text-align: center;
  }
  
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
  }
  
  
  p {
    font-family: "Pixelify Sans", sans-serif;
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 1rem; /* i know its in font css but i put it here just in case*/
    font-weight: 700;
  }
  
  button {
    padding: 10px 20px;
    background-color: #ff4d6d;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    
  }

  #clearButton  { /*new button for pokemon card*/
    padding: 10px 20px;
    margin-left: 20px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    
  }
  
    button:hover {
    background-color: #555;
    color: white;
  }


  #clearButton:hover { /*new button for pokemon card*/
    background-color: #cc0000;
  
  }

  body, html {
    height: 100%;
    margin: 10px;
    font-family: "Pixelify Sans", sans-serif;
    
  }

  .pokecard  { /* new pokemon card*/
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    float:left;
  }




  /* Responsive Styles */
  @media (max-width: 768px) {
    h1 {
      font-size: 28px;
    }
  
    h2 {
      font-size: 20px;
    }
  }

 
